/*
# Map as CSS (mixin)

For a Sass map structure containing valid CSS properties, output the map as CSS.  Keys starting with underscore will be ignored.

		 map-as-css( $map, $only: false, $except: false  )

		 // Usage
		 @include map-as-css( $mymap, $except: (margin) )

*/
// ---------------------------------------

@mixin map-as-css ( $map, $only: false, $except: false ) {
	// $special - start key with _
	// $p - map key, property name
	// $v - map value, property value
	@each $p, $v in $map {
		// key should be output
		@if type-of($p) != "null" and type-of($v) != "null" {
			$special: (str-slice($p, 1, 1) == "_");
			@if (not $special) and ($only == false or index($only, $p)) and (not index($except, $p)) {
				// key is currently a property
				@if type-of($v) != map {
					// output now
					#{$p}: #{$v};
				} // property
				// key's value is a map
				@else {
					&:#{$p} {
						@include map-as-css($v);
					} // pseudo-class or pseudo-element
				} // specific nested set
			} // not suppressed
		} // null check
	} // each
} // @mixin map-as-css

// ---------------------------------------
