/*
# Output To (mixin)

For one or more stylesheet nicknames, output CSS properties.

		 output-to( $sheets... )

		 // Usage
		 @include output-to( phone, tablet, desktop )


*/
// ---------------------------------------

@mixin output-to ( $sheets... ) {
	// /* debug: mixin from app */
	// /* debug: output-to sheets #{$sheets} */
	@if variable-exists(-stylesheet-name) {
		@if index($sheets, $-stylesheet-name) {
			@content;
		}
	}
	@else {
		@warn "no $-stylesheet-name set to which to compare in the output-to mixin";
	} // -stylesheet-name
} // output-to

// ---------------------------------------
