/*
# Respond To (mixin)

For one or more screen size nicknames, output CSS properties in a media query.

		 respond-to( $screens... )

		 // Usage
		 @include respond-to( sm, md, lg )


*/
// ---------------------------------------

@mixin respond-to ( $screens... ) {
	// /* debug: mixin from app */
	// /* debug: respond-to screens #{$screens} */
	$query: "";
	$i: 0;
	$ii: 0;
	$ranges: (
		xs: (
			// min-width
			max-width: convert-units(568px, em),
		),
		sm: (
			min-width: convert-units(569px, em),
			max-width: convert-units(768px, em),
		),
		md: (
			min-width: convert-units(769px, em),
			max-width: convert-units(1280px, em),
		),
		lg: (
			min-width: convert-units(1281px, em),
			max-width: convert-units(1920px, em),
		),
		xl: (
			min-width: convert-units(1921px, em),
			max-width: convert-units(2880px, em),
		),
		xxl: (
			min-width: convert-units(2881px, em),
			// max-width
		),
		phone: (
			// min-width
			max-width: convert-units(640px, em),
		),
		tablet: (
			min-width: convert-units(641px, em),
			max-width: convert-units(1024px, em),
		),
		desktop: (
			min-width: convert-units(1025px, em),
			max-width: convert-units(2880px, em),
		),
		tv: (
			min-width: convert-units(2881px, em),
			// max-width
		),
	);
	@each $size in $screens {
		// /* debug: respond-to size #{$size} */
		@if length(map-get($ranges, $size)) {
			$i: $i + 1;
			@if $i > 1 { $query: "#{$query},"; }
			@each $feature in map-get($ranges, $size) {
				@if length($feature) == 2 {
					$ii: $ii + 1;
					@if $ii > 1 { $query: "#{$query} and"; }
					$query: "#{$query} (#{nth($feature, 1)}: #{nth($feature, 2)})";
				} // if
			} // each
			$ii: 0;
		} // if
	}	// each
	@if $i > 0 {
		@media #{str-slice($query, 2)} { @content }
	}
	@else {
		@warn "no screen sizes provided to respond-to mixin";
	} // if
} // respond-to

// ---------------------------------------
