/*
# Size (function)

TODO: Description

*/
// ---------------------------------------

@function size ( $length, $fluid: false, $sheet: md ) {
  $base: convert($length);
  $result: $base;

  @if $fluid {
    @if $sheet == xs {
      $result: $base * 0.5;
    }
    @else if $sheet == sm {
      $result: $base * 0.75;
    }
    // @else if $sheet == md or $sheet == rg {
    //  $result: $base * 1;
    // }
    @else if $sheet == lg {
      $result: $base * 1.25;
    }
    @else if $sheet == xl {
      $result: $base * 1.5;
    }
  }
  
  @return $result;
}